<div class="flex items-center">
  <div>
    <img
      class="inline-block h-9 w-9 rounded-full"
      [src]="userProfileInformation.picture"
      loading="lazy"
      alt="User's profile photo"
    />
  </div>
  <div class="ml-3 flex-1">
    <div>
      <p class="text-sm leading-5 font-medium text-white">{{userProfileInformation.name}}</p>
      <p
        class="text-xs leading-4 font-medium text-gray-300 group-hover:text-gray-200 transition ease-in-out duration-150"
      >
        View profile
      </p>
    </div>
  </div>
</div>
