# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build Angular frontend

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Random word for kicks'
        # Default value if no value is explicitly provided
        default: 'Mango'
        # Input has to be provided for the workflow to run
        required: true

jobs:
  build:
    name: Build Angular frontend
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}      
    - run: npm ci
    - run: npm run build:prod
      env:
        HEALTHWISE_AUTHCONFIG_APIID: ${{ secrets.HEALTHWISE_AUTHCONFIG_APIID }}
        HEALTHWISE_AUTHCONFIG_APIROOT: ${{ secrets.HEALTHWISE_AUTHCONFIG_APIROOT }} 
        HEALTHWISE_AUTHCONFIG_CLIENTID: ${{ secrets.HEALTHWISE_AUTHCONFIG_CLIENTID }}
        HEALTHWISE_AUTHCONFIG_CLIENTROOT: ${{ secrets.HEALTHWISE_AUTHCONFIG_CLIENTROOT }}
        HEALTHWISE_AUTHCONFIG_STSAUTHORITY: ${{ secrets.HEALTHWISE_AUTHCONFIG_STSAUTHORITY }}
        HEALTHWISE_TESTUSER: ${{ secrets.HEALTHWISE_TESTUSER }}
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.0
      with:
        name: health-wise-app-artifact
        path: dist/health-wise-app
        retention-days: 1
  
  release:
    if: ${{ github.ref == 'refs/heads/master'}} 
    name: Release to VPS
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - name: Download a Build Artifact
      uses: actions/download-artifact@v2.0.5
      with:
        # Artifact name
        name: health-wise-app-artifact
        # Destination path
        path: health-wise-app
    - name: ssh mkdir
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HEALTHWISE_SSH_HOST }}
        username: ${{ secrets.HEALTHWISE_SSH_USER }}
        password: ${{ secrets.HEALTHWISE_SSH_PW }}
        port: ${{ secrets.HEALTHWISE_SSH_PORT }}
        script: mkdir -p ${{ secrets.HEALTHWISE_SSH_TEMP_DEST}}/client
    - name: copy to temp dest
      uses: appleboy/scp-action@v0.1.1
      with:
        host: ${{ secrets.HEALTHWISE_SSH_HOST }}
        username: ${{ secrets.HEALTHWISE_SSH_USER }}
        password: ${{ secrets.HEALTHWISE_SSH_PW }}
        port: ${{ secrets.HEALTHWISE_SSH_PORT }}
        source: "health-wise-app"
        target: ${{ secrets.HEALTHWISE_SSH_TEMP_DEST}}/client
    - name: copy from temp dest to dest
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HEALTHWISE_SSH_HOST }}
        username: ${{ secrets.HEALTHWISE_SSH_USER }}
        port: ${{ secrets.HEALTHWISE_SSH_PORT }}
        key: ${{ secrets.HEALTHWISE_SSH_KEY }}
        passphrase: ${{ secrets.HEALTHWISE_SSH_PASSPHRASE }}
        script_stop: true
        script: |
          rm -rfv ${{ secrets.HEALTHWISE_SSH_DEST }}/client/
          cp -r -f ${{ secrets.HEALTHWISE_SSH_TEMP_DEST}}/client/health-wise-app/* ${{ secrets.HEALTHWISE_SSH_DEST }}/client
          rm -rf ${{ secrets.HEALTHWISE_SSH_TEMP_DEST}}/client/health-wise-app
